.container{
    display: flex;
}
.item1{
    background: red;
    height: 600px;
    flex: 1;
}
.item2{
    background: pink;
    flex: 2;
}
.item3{
    background: yellow;
    flex: 1;
}
.item4{
    background: green;
    height: 300px;
    flex: 1;
}
.item5{
    background: blue;
    flex: 1;
}
.container2{
    display: flex;
}